= simple_form_for(:itinerary_item, :html => one_submit_only, :remote => true) do |f|
  = f.hidden_field :user_id

  = f.error_messages :object_name => t('itinerary_item')

  = render "itineraries/itinerary_item_top_section",    :f => f
  = hook(:entity_form, self, {f: f, entity: @itinerary_item})

  .buttonbar
    - if Setting.compound_address
      = f.submit t(:create_itinerary_item), :onclick => "crm.clear_all_hints()"
    - else
      = f.submit t(:create_itinerary_item)
    #{t :or}
    = link_to_cancel new_itinerary_item_path
