= styles_for :itinerary

= render 'entities/title_bar'

.remote#create_itinerary{ hidden }

= render 'search'

.remote#options{ hidden }

.list#itineraries
  - if @itineraries.any?
    = render @itineraries
  - else
    = render "shared/empty"

#paginate= render "shared/paginate_with_per_page"
#export= render "shared/export"
