%ul.resources-list
  %li= link_to(t(:overview), :controller => :resources)
  %li= link_to(t(:client), :controller => :resources, :view => :client)
  %li= link_to(t(:supplier), :controller => :suppliers, :view => :supplier)
  %li= link_to(t(:conference), :controller => :conferences, :view => :conference)
  %li= link_to(t(:exibition), :controller => :exibitions, :view => :exibition)


- @global_lists = List.where(:user_id => nil)
- @personal_lists = List.where(:user_id => current_user.id)

#lists
  = render "lists/sidebar", lists: @global_lists
  = render "lists/sidebar", lists: @personal_lists, personal: true
