= hook(:meal_top_section, self, :f => f) do
  .section
    %table
      %tr
        %td
          .label.top{ :class => 'req' } #{t :hotel_name}:
          = f.text_field :hotel_name, :autofocus => true
      %tr
        %td
          .label.top{ :class => 'req' } #{t :room_number}:
          = f.number_field :room_number
      %tr
        %td
          .label.top{ :class => 'req' } #{t :unit_cost}:
          = f.number_field :unit_cost

      = render :partial => "/shared/tags", :locals => {:f => f, :span => 3}

      = hook(:meal_top_section_bottom, self, :f => f)
