%div
  .title_tools
    #buttons
      = view_buttons
      = link_to t(:back), itinerary_item_path(@park_ticket.itinerary_item_id)
    .edit_asset
      = link_to_inline(:edit_hotel_reservation, edit_hotel_reservation_path(@hotel_reservation), :text => t(:edit))

  = subtitle :general_info_subtitle, false, t(:general_info)
  %div.section
    %div
      .remote#edit_hotel_reservation{ hidden }
      %table
        %tr
          %td
            .label #{t :hotel_name}:
          %td
            = @hotel_reservation.hotel_name
        %tr
          %td
            .label #{t :room_number}:
          %td
            = @hotel_reservation.room_number
        %tr
          %td
            .label #{t :unit_cost}:
          %td
            = @hotel_reservation.unit_cost
