= hook(:meal_top_section, self, :f => f) do
  .section
    %table
      %tr
        %td
          .label.top{ :class => 'req' } #{t :breakfast}:
          = f.number_field :breakfast, :autofocus => true
      %tr
        %td
          .label.top{ :class => 'req' } #{t :lunch}:
          = f.number_field :lunch
      %tr
        %td
          .label.top{ :class => 'req' } #{t :dinner}:
          = f.number_field :lunch

      = render :partial => "/shared/tags", :locals => {:f => f, :span => 3}

      = hook(:meal_top_section_bottom, self, :f => f)
