%ul.resources-list
  %li= link_to(t(:overview), :controller => :resources)
  %li= link_to(t(:client), :controller => :resources, :view => :client)
  %li= link_to(t(:supplier), :controller => :resources, :view => :supplier)
  %li= link_to(t(:conference), :controller => :conferences, :view => :conference)
  %li= link_to(t(:exibition), :controller => :resources, :view => :exibition)
