- transportation = @itinerary_item.transportations.new
= simple_form_for(transportation, :html => one_submit_only, :remote => true) do |f|
  = link_to_close new_transportation_path
  = f.hidden_field 'itinerary_item_id', :value => @itinerary_item.id

  = f.error_messages :object_name => t('transportation')

  = render "transportations/top_section",    :f => f
  = render "fields/edit_custom_field_group", :f => f
  = render "fields/groups",        :f => f
  = hook(:entity_form, self, {f: f, entity: @transportation})

  .buttonbar
    - if Setting.compound_address
      = f.submit t(:create_transportation), :onclick => "crm.clear_all_hints()"
    - else
      = f.submit t(:create_transportation)
    #{t :or}
    = link_to_cancel new_transportation_path
