- hotel_reservation = @itinerary_item.hotel_reservations.new
= simple_form_for(hotel_reservation, :html => one_submit_only, :remote => true) do |f|
  = link_to_close new_hotel_reservation_path
  = f.hidden_field 'itinerary_item_id', :value => @itinerary_item.id

  = f.error_messages :object_name => t('hotel_reservation')

  = render "hotel_reservations/top_section",    :f => f
  = render "fields/edit_custom_field_group", :f => f
  = render "fields/groups",        :f => f
  = hook(:entity_form, self, {f: f, entity: @hotel_reservation})

  .buttonbar
    - if Setting.compound_address
      = f.submit t(:create_hotel_reservation), :onclick => "crm.clear_all_hints()"
    - else
      = f.submit t(:create_hotel_reservation)
    #{t :or}
    = link_to_cancel new_hotel_reservation_path
