%li.highlight[itinerary_item]

  .indentslim
    = link_to content_tag(:span, "#{itinerary_item.order_date.to_date}"), itinerary_item

    %dt
      = "#{itinerary_item.description}"


    - if itinerary_item.tag_list.present?
      %dt
        .tags= tags_for_index(itinerary_item)

    = hook(:itinerary_item_bottom, self, :itinerary_item => itinerary_item)
