- entity_name = "meal"
- create_id = "add_meal"

crm.flick('empty', 'toggle');
crm.flip_form('#{create_id}');

- unless params[:cancel].true?
  $('##{create_id}').html('#{ j render(:partial => "add_meal") }');
  crm.set_title('#{create_id}', '#{ j t(create_id) }');
- else
  crm.set_title('#{create_id}', '#{ j t(entity_name.pluralize) }');
