%div
  .title_tools
    #buttons
      = view_buttons
    .edit_asset
      = link_to_inline(:edit_itinerary_item, edit_itinerary_item_path(@itinerary_item), :text => t(:edit))

  = subtitle :general_info_subtitle, false, t(:general_info)
  %div.section
    %div
      .remote#edit_itinerary_item{ hidden }
      %table
        %tr
          %td
            .label #{t :activity}:
            = @itinerary_item.description
          %td= spacer
          %td
            .label #{t :order_date}:
            = @itinerary_item.order_date

%div
  = subtitle :add_meal_subtitle, false, t(:add_meal)
  %div.section
    %div
      .remote#add_meal{ hidden }
      .list#meals
        - if @itinerary_item.meals.any?
          = render :partial => "meals/meal", :collection => @itinerary_item.meals
        - else
          #empty
            == #{t :feel_free} #{link_to(t(:create_meal), add_meal_itinerary_item_path(@itinerary_item), :remote => true)}.


%div
  = subtitle :add_snack_subtitle, false, t(:add_snack)
  %div.section
    %div
      .remote#add_snack{ hidden }
      .list#snacks
        - if @itinerary_item.snacks.any?
          = render :partial => "snacks/snack", :collection => @itinerary_item.snacks
        - else
          #empty
            == #{t :feel_free} #{link_to(t(:create_snack), add_snack_itinerary_item_path(@itinerary_item), :remote => true)}.


%div
  = subtitle :add_hotel_reservation_subtitle, false, t(:add_hotel_reservation)
  %div.section
    %div
      .remote#add_hotel_reservation{ hidden }
      .list#hotel_reservations
        - if @itinerary_item.hotel_reservations.any?
          = render :partial => "hotel_reservations/hotel_reservation", :collection => @itinerary_item.hotel_reservations
        - else
          #empty
            == #{t :feel_free} #{link_to(t(:create_hotel_reservation), add_hotel_reservation_itinerary_item_path(@itinerary_item), :remote => true)}.

%div
  = subtitle :add_transportation_subtitle, false, t(:add_transportation)
  %div.section
    %div
      .remote#add_transportation{ hidden }
      .list#transportations
        - if @itinerary_item.transportations.any?
          = render :partial => "transportations/transportation", :collection => @itinerary_item.transportations
        - else
          #empty
            == #{t :feel_free} #{link_to(t(:create_transportation), add_transportation_itinerary_item_path(@itinerary_item), :remote => true)}.

%div
  = subtitle :add_guide_and_driver_subtitle, false, t(:add_guide_and_driver)
  %div.section
    %div
      .remote#add_guide_driver{ hidden }
      .list#guide_drivers
        - if @itinerary_item.guide_drivers.any?
          = render :partial => "guide_drivers/guide_driver", :collection => @itinerary_item.guide_drivers
        - else
          #empty
            == #{t :feel_free} #{link_to(t(:create_guide_driver), add_guide_driver_itinerary_item_path(@itinerary_item), :remote => true)}.

%div
  = subtitle :add_park_ticket_subtitle, false, t(:add_park_ticket)
  %div.section
    %div
      .remote#add_park_ticket{ hidden }
      .list#park_tickets
        - if @itinerary_item.park_tickets.any?
          = render :partial => "park_tickets/park_ticket", :collection => @itinerary_item.park_tickets
        - else
          #empty
            == #{t :feel_free} #{link_to(t(:create_park_ticket), add_park_ticket_itinerary_item_path(@itinerary_item), :remote => true)}.
%div
  #export= render "shared/export"
