%div
  .title_tools
    #buttons
      = view_buttons
      = link_to t(:back), itinerary_item_path(@guide_driver.itinerary_item_id)
    .edit_asset
      = link_to_inline(:edit_guide_driver, edit_guide_driver_path(@guide_driver), :text => t(:edit))

  = subtitle :general_info_subtitle, false, t(:general_info)
  %div.section
    %div
      .remote#edit_guide_driver{ hidden }
      %table
        %tr
          %td
            .label #{t :tip}
          %td
            = @guide_driver.tip
        %tr
          %td
            .label #{t :other}
          %td
            = @guide_driver.other
        %tr
          %td
            .label #{t :overtime}
          %td
            = @guide_driver.overtime
        %tr
          %td
            .label #{t :guide}:
          %td
            = guide_name = @guide_driver.guide.present? ? Contact.find_by_id(@guide_driver.guide).full_name : t(:empty)
        %tr
          %td
            .label #{t :driver}:
          %td
            = guide_name = @guide_driver.driver.present? ? Contact.find_by_id(@guide_driver.driver).full_name : t(:empty)
