%li.highlight[meal]

  %ul.tools
    = hook(:meal_tools_before, self, :meal => meal)

    - if can?(:update, meal)
      %li= link_to(t(:edit), url_for(meal))

    - if shown_on_landing_page?
      %li= link_to_discard(meal)

    - if can?(:destroy, meal)
      %li= link_to_delete(meal)

  .indentslim
    = link_to_if can?(:read, meal), meal.id, meal

    %dt{ :style => "padding: 2px 0px 0px 0px" }
      = t(:added_ago, value: timeago(meal.created_at)).html_safe

    - if meal.tag_list.present?
      %dt
        .tags= tags_for_index(meal)

    = hook(:meal_bottom, self, :meal => meal)
