= hook(:snack_top_section, self, :f => f) do
  .section
    %table
      %tr
        %td
          .label.top{ :class => 'req' } #{t :description}:
          = f.text_field :description, :autofocus => true
      %tr
        %td
          .label.top{ :class => 'req' } #{t :cost}:
          = f.number_field :cost
      %tr
        %td
          .label.top{ :class => 'req' } #{t :kind}:
          = f.text_field :kind

      = render :partial => "/shared/tags", :locals => {:f => f, :span => 3}

      = hook(:snack_top_section_bottom, self, :f => f)
