%div
  .title_tools
    #buttons
      = view_buttons
      = link_to t(:back), itinerary_item_path(@park_ticket.itinerary_item_id)
    .edit_asset
      = link_to_inline(:edit_snack, edit_snack_path(@snack), :text => t(:edit))

  = subtitle :general_info_subtitle, false, t(:general_info)
  %div.section
    %div
      .remote#edit_snack{ hidden }
      %table
        %tr
          %td
            .label #{t :description}:
          %td
            = @snack.description
        %tr
          %td
            .label #{t :kind}:
          %td
            = @snack.kind
        %tr
          %td
            .label #{t :cost}:
          %td
            = @snack.cost
